header{
    /* background: linear-gradient(315.2deg, rgb(77, 161, 214, 0.6) 14.07%, rgba(72, 63, 192, 0.6) 85.63%);
    background-color: #210B2C;*/
    height: 100vh;
    background: url('../img/new.jpg');

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.nav{
    padding-top: 30px;
}

.offer{
    padding-top: 12vh;
}
