nav{
    padding-top: 30px;
}

.nav-link, .navbar-brand, .header-content{
    font-size: 20px;
}

.nav-link{
    position: relative;
}

.nav-link:not(.link-sections):after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease-in-out;
}

.nav-link:not(.link-sections):hover::after{
    width: 100%;
}

.table-list-header{
    padding: 10px 0;
}

.table-list-header span{
    font-size: 20px;
}

.link{
    color: #000;
    text-decoration: none;
    font-size: 18px;
}

.link-section{
    transition: all .3s ease-in-out;
}

.link-section:hover{
    color: blue;
}

.btn-create{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 45px !important;
    height: 45px !important;
    font-size: 45px;
    border-radius: 50%;
}

.btn-delete{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 30px !important;
    height: 30px !important;
    border-radius: 50%;
    padding: 0 !important;
    font-size: 30px;
}

.btn-delete::before{
    margin-left: 1px;
}

.btn-edit{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 30px !important;
    height: 30px !important;
    padding: 0 !important;
    font-size: 30px;
    color: #0d6efd;
    transition: all .3s ease-in-out;
}

.btn-edit:hover{
    cursor: pointer;
    color: #0b5ed7;
}

.sort-item:hover{
    cursor: pointer;
    color: #0b5ed7;
}

.sort-item.active-sort-item{
    color: #0b5ed7;
}

.select-2{
    width: 200px;
}

.alert{
    display: none;
}

td{
    vertical-align: middle;
}