.loader {
    display: inline-block;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 100;
}
.loader:after {
    content: " ";
    display: block;
    width: 124px;
    height: 124px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #0b5ed7;
    border-color: #0b5ed7 transparent #0b5ed7 transparent;
    animation: loader 1.2s linear infinite;
}
@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
  